/*-- scss:defaults --*/

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary: #9A8C98 !default;
$body-bg: #F2E9E4 !default;
$code-block-border-left: #6c757d !default;
$code-block-bg: #E8DAD5 !default;

$font-family-base: "Poppins","Merriweather", "Roboto", "Cabin Regular" !default;
$font-family-code: "Fira code" !default;
$headings-font-family: "Roboto", "Lato", "Merriweather" !default;
$headings-color: #1F1F36 !default;

