@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+code&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*-- scss:defaults --*/

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary: #e5e5e5 !default;
$body-bg: #e5e5e5 !default;
$code-block-border-left: #00f5d4 !default;
$code-block-bg: #353535 !default;

$font-family-base: "Bitter","Merriweather", "Roboto", "Cabin Regular" !default;
$font-family-code: "Fira code" !default;
$headings-font-family: "Roboto", "Lato", "Merriweather" !default;
$headings-color: #001427 !default;
$link-color: #023e8a;

